<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LabExercise1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>under18</display-name>
    <servlet-name>under18</servlet-name>
    <jsp-file>/SuruhanjayaPilihanRayaMalaysia.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>under18</servlet-name>
    <url-pattern>/under18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Under18</display-name>
    <servlet-name>Under18</servlet-name>
    <servlet-class>Under18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Under18</servlet-name>
    <url-pattern>/Under18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>above18</display-name>
    <servlet-name>above18</servlet-name>
    <servlet-class>above18</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>above18</servlet-name>
    <url-pattern>/above18</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>urltest</display-name>
    <servlet-name>urltest</servlet-name>
    <servlet-class>urltest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>urltest</servlet-name>
    <url-pattern>/urltest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eligibility</display-name>
    <servlet-name>eligibility</servlet-name>
    <servlet-class>eligibility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eligibility</servlet-name>
    <url-pattern>/eligibility</url-pattern>
  </servlet-mapping>
</web-app>